
.card {
 width: 260px;
 height: 190px;
}

.cardTitle {
 margin-bottom: 15px;
 margin-top: 15px;
}

.welcome {
 color: gray;
 font-family: Arial, Helvetica, sans-serif;
 width: 100%;
 
}

.contents {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: fit-content;
 margin: auto;
}

.cards {
 display: flex;
 flex-direction: row;
 margin: 30px 10px;
 gap: 70px;
 font-size: 20px;
}

.notifications {
 width: 100%;
}

#signup {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 50px;
}

.btn {
 width: 280px;
}



.password {
 margin-bottom: 18px;
}
